@import url(tinyjira.css);

/* @group b-pseudo-link */
    .b-pseudo-link
    {
        _height: 0;
        zoom: 1;

        cursor: hand;
    }
/* @end */

.b-issues-table .alltext-descopen .summary,
.b-issues-table .alltext-descclosed .summary {
    cursor: hand;
}
